ul{
    list-style-type: none;
    background-color: blue;
    /* background-color:rgb(60,56,78);
    backgroud-color */
}
li{
    padding: 10px;
    color: white;
}

body{
    margin: 0;

}

.moveRight{
    color: brown;
    float:right;
}
li:hover{
    background-color: black;
    
}